div {
  padding: 10px;
  border: 1px dashed rgba(200, 222, 135, 1);
}

div:hover {
  border: 1px solid rgba(200, 222, 135, 1);
}

#special-1 {
  padding: 50px 40px 30px 20px;
  width: fit-content;
  background-color: rgba(147, 91, 206, 0.75);
}

#special-2 {
  padding: 40px 10px 20px;
  width: fit-content;
  background-color: rgba(147, 91, 206, 0.75);
}

#special-3 {
  padding: 20px 50px;
  width: fit-content;
  background-color: rgba(147, 91, 206, 0.75);
}

#special-4 {
  padding: 25px;
  width: fit-content;
  background-color: rgba(147, 91, 206, 0.75);
}

#special-5 {
  margin: 25px;
  width: fit-content;
  background-color: rgba(91, 189, 206, 0.75);
}

#special-6 {
  margin: 40px 10px;
  width: fit-content;
  background-color: rgba(91, 189, 206, 0.75);
}

#special-7 {
  margin: 30px 20px 50px;
  width: fit-content;
  background-color: rgba(91, 189, 206, 0.75);
}

#special-8 {
  margin: 10px 40px 20px 30px;
  width: fit-content;
  background-color: rgba(91, 189, 206, 0.75);
}

#special-9 {
  word-spacing: 20px;
}

#special-10 {
  letter-spacing: 5px;
}

#special-11 {
  text-transform: capitalize;
}

#special-12 {
  text-align: center;
}

#special-13 {
  text-indent: 30px;
}

#special-14 {
  line-height: 1.7;
}

#special-15 {
  font-size: 25px;
}

#special-16 {
  text-shadow: 3px 3px 2px #bd3030;
}

#special-17 {
  text-shadow: -6px -3px 6px #58bd30;
}

#special-18 {
  text-shadow: -10px 10px 15px #3051bd;
}

#special-19 {
  text-shadow: 2px 4px 3px red, 4px 6px 3px green, 6px 8px 3px blue;
}

#special-20 {
  text-decoration: line-through;
}
